﻿@model NewsViewModel

@{
    ViewBag.Title = Model.News.Title;
}

<h2>@Model.News.Title </h2>
<p class="lead">@Model.News.ShortDesctription</p>

<hr />

<div>
    @Model.News.Content
</div>

<hr />
@Html.Action("GetComments", "Comment", new {entityId=Model.News.Id, entity= EntityType.News})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script>
        function HideAlert() {
            $('div#addCommentAlert').hide();
        }
    </script>
}

